.region-banner-bottom {
  .bloc-banner-bottom {
    display: flex;
    //padding:60px 0;
    color: #fff;
    > div {
      width:50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .banner-bottom-picture {
      .field--name-field-banner-bottom-picture {
        overflow: hidden;
      }
      img {
        width:100%;
        height: 100%;
        vertical-align: bottom;
      }
    }

    .banner-bottom-content {
      background-color: #66554F;
      padding-bottom:40px;
      .banner-bottom-title {
        .bloc-title {
          color: #fff;
          text-align: left;
          margin-top: 40px;
          margin-left:40px;
          &:after {
            margin:40px 0 0 0;
          }
        }
      }
      .banner-bottom-text {
        width: 60%;
        text-align: justify;
        margin-left:40px;
        line-height: 1.8;
        font-size: 1.2em;
        .bloc-title {
          margin-top : 20px;
          margin-bottom: 20px;
          text-align : left;
          color: #fff;
          &:after {
            margin:20px 0 0 0 ;
          }
        }
      }
    }
  }
  .bloc-banner-bottom-after {
    margin-top: 40px;
    .field--name-field-banner-bottom-text-after {
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 1.2em;
      &:before {
        display: block;
        background-color: #39799B;
        width: 5%;
        height: 2px;
        min-width: 50px;
        content: "";
        align-self: center;
        margin-right: 20px;
      }
      > div:first-child {
          margin-right: 20px;
          align-self: center;
      }
      > div:last-child a {
          border: 2px solid;
          border-radius: 20px;
          padding: 10px;
          display: flex;
          color: inherit;
          font-weight: bold;
          text-decoration: none;
        &:hover {
          &:hover {
            border:2px solid #39799B;
            color: #fff;
            background-color: #39799B;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .region-banner-bottom {
    .bloc-banner-bottom {
      flex-direction: column;
      > div {
        width:100%;
      }
      > div:first-child {
        height:250px;
      }

      .banner-bottom-content {
        padding-bottom: 30px;
        .banner-bottom-title {
          .bloc-title {
            margin-left:20px;
          }
        }
        .banner-bottom-text {
          width: 80%;
          font-size: 1.1em;
        }
      }
    }
    .bloc-banner-bottom-after {
      .field--name-field-banner-bottom-text-after {
        flex-direction: column;
        > div:first-child {
          margin-top:20px;
        }
        > div:last-child a {

          padding: 6px;
          justify-content: center;
          width:80%;
          margin:20px auto;
          border:2px solid #39799B;
          color: #fff;
          background-color: #39799B;
        }
      }
    }
  }
}