.bandeau-haut {
  background: rgba(255, 255, 255, 0.5) url("/sites/default/files/home/background-home.png") no-repeat center ;
  color: white;
  filter: drop-shadow(16px 16px -70px blue);
  box-shadow: inset 13px 0 0 446px rgba(0,0,0,0.5);
  padding:30px 0 60px 0;
  background-size: cover;
  .bandeau-haut-titre {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: white;
    margin-bottom: 70px;
    &:after {
      display: block;
      background-color: #39799B;
      width: 8%;
      height: 2px;
      min-width: 50px;
      content: "";
      margin: 0 auto;
    }
  }
  .bandeau-haut-description {
    width: 60%;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: justify;
  }
  .bandeau-haut-details {
    p:first-child {
      font-weight: 900;
      font-size: 1.7em;
      margin-bottom: 10px !important;
    }
    ul {
      margin-left: 20px;
      li {
        height: auto;
        //margin-bottom: 10px;
        text-transform: inherit;
        list-style: url("/sites/default/files/pictos/checklist.png");
        font-size:1.1em;
      }
    }
  }
  .bandeau-haut-ancre {
    margin-top:20px;
    a {
      color: white;
      text-decoration: underline;
      font-size: 1.2em;
      font-weight: bold;
      margin-left: 15px;
      display: flex;
      p {
        margin: 0 !important;
      }
      img {
        height: 15px;
        width: 15px;
        align-self: center;
        &:first-child {
          margin-right:10px;
        }
        &:last-child {
          margin-left:10px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .bandeau-haut {
    .bandeau-haut-titre {
      font-size:     2.5em;
      font-weight:   bold;
      color:         white;
      margin-bottom: 50px;
      &:after {
        display:          block;
        background-color: #39799b;
        width:            8%;
        height:           2px;
        min-width:        50px;
        content:          "";
        margin:           0 auto;
      }
    }
    .bandeau-haut-description {
      width: 100%;
      background-color: #22221A;
      padding: 20px 0;
      >div {
        width: 90%;
        margin: 20px auto;
        text-align: center;
      }
    }
    .bandeau-haut-details {
      margin:0 20px;
    }
    .bandeau-haut-ancre {
      margin-top:20px;
      a {
        justify-content: center;
      }
    }
  }
}
