@import '_colors.scss';
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,300,600,700");

//fonts
$font_0: gotham_bookregular;
$font_1: 'PT Sans';
$font_2: FontAwesome;


html {
  @extend %extend_1;
  line-height: 1;
}
body {
  @extend %extend_1;
  font-family: $font_1 !important;
  font-size: 14px !important;
  line-height: 160%;
  color: #444444;
  overflow-x: hidden;
  font-weight: 300;
  background: $white;
  background-size: cover;
  //background: $concrete;
}
span {
  @extend %extend_1;
}
applet {
  @extend %extend_1;
}
object {
  @extend %extend_1;
}
iframe {
  @extend %extend_1;
}
h1 {
  @extend %extend_1;
  //color: $color_gravel_approx;
  font-weight: 600;
  margin: 10px 0;
  line-height: 120%;
  color: $color_main;
  font-size: 1.9rem;
  margin-top: 20px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
h5 {
  @extend %extend_1;
}
h6 {
  @extend %extend_1;
}
p {
  @extend %extend_1;
  margin: 0 10px 10px 0 !important;
}
a {
  @extend %extend_1;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.2s linear;
  color: $color_main;
}
abbr {
  @extend %extend_1;
  &.tabledrag-changed {
    border-bottom: none;
  }
  &.ajax-changed {
    border-bottom: none;
  }
}
acronym {
  @extend %extend_1;
}
address {
  @extend %extend_1;
}
big {
  @extend %extend_1;
}
cite {
  @extend %extend_1;
}
code {
  @extend %extend_1;
}
del {
  @extend %extend_1;
}
dfn {
  @extend %extend_1;
}
em {
  @extend %extend_1;
  font-style: italic !important;
}
img {
  @extend %extend_1;
  max-width: 100%;
}
ins {
  @extend %extend_1;
}
kbd {
  @extend %extend_1;
}
q {
  @extend %extend_1;
  quotes: none;
  &:before {
    content: "";
    //content: none;
  }
  &:after {
    content: "";
    //content: none;
  }
}
s {
  @extend %extend_1;
}
samp {
  @extend %extend_1;
}
small {
  @extend %extend_1;
}
strike {
  @extend %extend_1;
}
strong {
  @extend %extend_1;
  font-weight: bold;
}
sub {
  @extend %extend_1;
}
sup {
  @extend %extend_1;
}
tt {
  @extend %extend_1;
}
var {
  @extend %extend_1;
}
b {
  @extend %extend_1;
}
u {
  @extend %extend_1;
}
i {
  @extend %extend_1;
}
center {
  @extend %extend_1;
}
dl {
  @extend %extend_1;
}
dt {
  @extend %extend_1;
}
dd {
  @extend %extend_1;
}
ol {
  @extend %extend_1;
  @extend %extend_2;
  li {
    //list-style: outside;
    padding: 2px 0;
    list-style-type: decimal;
  }
}
fieldset {
  @extend %extend_1;
}
form {
  @extend %extend_1;
  .field-multiple-table {
    margin: 0;
    .field-multiple-drag {
      width: 30px;
      padding-right: 0;
      .tabledrag-handle {
        padding-right: .5em;
      }
    }
  }
  .field-add-more-submit {
    margin: .5em 0 0;
  }
}
label {
  @extend %extend_1;
  &.option {
    display: inline;
    font-weight: normal;
    color: $color_main;
  }
}
legend {
  @extend %extend_1;
}
table {
  @extend %extend_1;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 10px;
}
caption {
  @extend %extend_1;
  @extend %extend_3;
  text-align: left;
}
article {
  @extend %extend_1;
  display: block;
}
aside {
  @extend %extend_1;
  display: block;
}
canvas {
  @extend %extend_1;
}
details {
  @extend %extend_1;
  display: block;
}
embed {
  @extend %extend_1;
}
figure {
  @extend %extend_1;
  display: block;
}
figcaption {
  @extend %extend_1;
  display: block;
}
footer {
  @extend %extend_1;
  display: block;
}
header {
  @extend %extend_1;
  display: block;
  .col-md-9 {
    max-width: 100% !important;
    flex-grow: 10;
  }
}
hgroup {
  @extend %extend_1;
  display: block;
}
menu {
  @extend %extend_1;
  display: block;
}
output {
  @extend %extend_1;
}
ruby {
  @extend %extend_1;
}
section {
  @extend %extend_1;
  display: block;
}
summary {
  @extend %extend_1;
  display: block;
}
time {
  @extend %extend_1;
}
mark {
  @extend %extend_1;
}
audio {
  @extend %extend_1;
}
video {
  @extend %extend_1;
}

ul {
  @extend %extend_1;
  @extend %extend_2;
  &.tabs {
    list-style: none;
    margin: 0 0 0.5em;
    padding: 0;
  }
  li {
    list-style: outside;
    padding: 2px 0;
  }
  &.links.inline {
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      padding-right: 10px;
    }
  }
}
input {
  padding: 6px;
  border: 1px solid $color_main;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 15px;
  color: $color_main;
}
button {
  border: 1px solid $color_main;
  padding: 6px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 10px;
  color: $color_main;
}
select {
  padding: 6px;
  border: 1px solid $color_main;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 15px;
  color: $color_main;
  &#edit-vous-etes {
    width: 100%;
  }
}
textarea {
  padding: 6px;
  border: 1px solid $color_main;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 15px;
  color: $color_main;
}
input[type="submit"] {
  background: $color_main;
  color: $white;
  border: 0;
  padding: 10px 15px;
  line-height: 100%;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 10px;
  &:hover {
    background: $color_main;
    color: $white;
  }
}

.sim-button{
  line-height: 46px;
  height: 50px;
  text-align: center;
  width: 14%;
  cursor: pointer;
}

.button6{
  color: rgba(255,255,255,1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}
.button6 a{
  color: #fff;
  text-decoration: none;
  display: block;
}
.button6 span{
  z-index: 2;
  position: absolute;
  left: 0;
  margin:auto;
  width:100%;
}
.button6::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.5, 1);
  transform: scale(0.5, 1);
}
.button6:hover::before{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.button6:hover span a {
  color: #64a1bd;
}

.row {
  margin: 0 !important;
}

.a2a_button_google_plus {
  display: none !important;
}



