.bloc-consultant {
  border: 3px solid #DD0043;
  padding: 40px;
  font-size: 1.2em;
  .bloc-consultant-title {
    text-align: center;
  }
  .bloc-consultant-description {
    display: flex;
    justify-content: center;
    .field--name-field-conseiller-picture {
      margin-right:30px;
      width:20%;
      img {
        height:100%;
        width: 100%;
      }
    }
    .field--name-field-conseiller-description {
      > p{
        &:first-child {
          margin-bottom:0 !important;
        }
        &:nth-child(2) {
          font-weight: 800;
        }
      }
    }
    .bloc-consultant-address {
      display: flex;
      .field--name-field-conseiller-address-picture {
        img {
          height: 20px;
          width:15px;
        }
      }
      .field--name-field-conseiller-address {
        margin-left:10px;
        > p:first-child {
          margin-bottom:0!important;
        }
      }
    }
  }
  .bloc-consultant-contact {
    display: flex;
    justify-content: center;
    .contact-form a{
      padding: 10px 20px;
      &:hover {
        border:2px solid #39799B;
        color: #fff;
        background-color: #39799B;
      }
    }
    a {
      border: 2px solid;
      border-radius: 20px;
      padding: 10px;
      display: flex;
      color: inherit;
      font-weight: bold;
      &:visited, &:hover {
        text-decoration: none;
      }

      img {
        height:50%;
        width:14%;
        margin-left:10px;
      }
      > div {
        align-self: center;
        margin-left: 10px;
      }
    }
    > div {
      margin-right: 20px;
      margin-top: 20px;
    }
  }

}

@media screen and (max-width: 500px) {
  .bloc-title {
    font-size: 25px;
  }
  .bloc-consultant {
    .bloc-consultant-description {
      flex-direction: column;
      .field--name-field-conseiller-picture {
        margin: auto;
        width: 50%;
      }
      .field--name-field-conseiller-description {
        text-align: center;
        margin-top: 10px;
      }
    }
    .bloc-consultant-address {
      justify-content: center;
    }
    .bloc-consultant-contact {
      flex-direction: column;
      a {
        justify-content: center;
        padding:6px;
        img {
          width:8%;
        }
      }
      .contact-form a {
        padding:6px 20px ;
      }
    }
  }
}

