.region-address {
  .bloc-visit-link, .field--name-field-link-visit  {
    height:100%;
  }
  .bloc-visit {
    height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70%;
  }
  .bloc-visit-link a {
    top: 50%;
    position: relative;
    color: black;
    background-color: #fff;
    padding: 12px 19px;
    border-radius: 20px;
    &:hover {
      text-decoration: none;
    }
    img {
      vertical-align: middle;
      margin-left: 5px;
      margin-top: -4px;
    }
  }
}