//colors
$color_concrete_approx: #f1f3f1;
$white: #fff;
$color_main: #64a1bd;
$black_75: rgba(0,0,0,0.75);
$color_mercury_approx: #e6e6e6;
$color_mine_shaft_approx: #333;
$black: #000;
$color_mountain_mist_approx: #999;
$black_73: rgba(0, 0, 0, 0.73);
$color_romance_approx: #fdfdfd;
$color_malibu_approx: #66cbff;
$color_cape_cod_approx: #404040;
$color_wheatfield_88_approx: rgba(242, 244, 207, 0.88);
$color_viking_approx: #4ad1e5;

//fonts
$font_0: gotham_bookregular;
$font_1: PT Sans;
$font_2: FontAwesome;