@import '_colors.scss';

#block-chiffresanimeshaut {
  padding: 20px;
}
.animated_number_top {
  > div {
    display: flex !important;

    > div {
      display: flex;
      margin-right: 30px;
      .pictos_number {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
      }
      .content_number {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 10px;
        .content_number_first {
          display: flex;
          div:first-child{
            align-self: center;
            margin-right:5px;
          }
          .counter {
            font-size: 1.5em;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.banner_pictogram_figure {
  background-color: #F2F2F2;
}
.region-banner-pictogram-figure {
  padding:60px 0;
}

.animated_number_top .content_counter_bottom {
  justify-content: center;
}

//@media screen and (max-width: 500px ) {
//  .animated_number_top {
//    > div {
//      display: flex !important;
//      flex-direction: column;
//      width:60%;
//      > div {
//        display: flex;
//        justify-content: space-around;
//        margin-right: 0;
//        margin-bottom:25px;
//        .pictos_number {
//          display: flex;
//          justify-content: flex-end;
//          flex-direction: column;
//        }
//        .content_number {
//          display: flex;
//          flex-direction: column;
//          justify-content: flex-end;
//          margin-left: 10px;
//          //font-size: 0.8em;
//          .content_number_first {
//            display: flex;
//            div:first-child{
//              align-self: center;
//              margin-right:5px;
//            }
//            .counter {
//              font-size: 1.5em;
//              font-weight: bold;
//            }
//          }
//        }
//      }
//    }
//  }
//}

@media screen and (max-width: 500px) {
  .animated_number_top {
    > div {
      > div {
        margin-left: 10px;
        margin-right: 0;
        font-size: 0.9em;
        width: 33%;
        .content_number {
          text-align: center;
          .content_number_first {
            display: block;
            div:first-child{
              margin-right:0;
            }
            .counter {
              font-size: 1.2em;
            }
          }
        }
        &:first-child .content_number {
          text-align: left;
        }
      }
    }
  }

  .animated_number_top .content_counter_bottom {
    justify-content: space-between;
  }
}
