.parallax-widget.six {
  margin: 40px 0;
  .region-footer {
    display: flex;
    > div:nth-child(1) {
      width:20%;
      align-self: center;
    }
    > div:nth-child(2) {
      width:25%;
      align-self: center;
    }
    > div:last-child {
      width:55%;
      color: #B0B0B0;
      font-size: 0.8em;
    }
    #block-telephone-2 {
      a {
        border: 2px solid;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        color: inherit;
        font-weight: bold;
        justify-content: center;
        align-self: center;
        width: 91%;
        text-decoration: none;
      }
      img {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .parallax-widget.six {
    .region-footer {
      flex-direction: column;
      > div:nth-child(1) {
        width:50%;
      }
      > div:nth-child(2) {
        width:70%;
        margin:10px auto;
      }
      > div:last-child {
        width:90%;
        margin:10px auto;
      }
      #block-telephone-2 {
        a {
          padding: 6px;
          width: 100%;
        }
      }
    }
  }
}