#block-webform-2 {
  width: 22%;
  position: absolute;
  top: 30%;
  right: 19%;
  background-color: white;
  z-index: 2;
  box-shadow: 0px 0px 21px 1px rgba(182,187,183,0.3);
  border:2px solid #DDDDDD;
  .form-title {
    text-align: center;
    padding-bottom:14px;
    background-color: #DDDDDD;
    margin-bottom: 10px;
    >p:first-child {
      font-size: 1.6em;
      font-weight: bold;
      padding-top: 14px;
    }
    >p:last-child {
      font-size:0.9em;

    }
    p {
      margin:0!important;
      background-color: #DDDDDD;
    }
    //.triangle {
    //  position: relative;
    //  top: 0;
    //  content: "";
    //  /* position: absolute; */
    //  overflow: hidden;
    //  /* left: 0; */
    //  background-color: #DDDDDD;
    //  padding-bottom: 50%;
    //  /* width: 60%; */
    //  z-index: -1;
    //  -webkit-transform-origin: 0 0;
    //  -ms-transform-origin: 0 0;
    //  /* transform-origin: 0 0; */
    //  /* -webkit-transform: rotate(-30deg) skewX(30deg); */
    //  -ms-transform: rotate(-30deg) skewX(30deg);
    //  transform: rotate(-30deg) skewX(30deg);
    //}
  }
  form {
    display: flex;
    flex-wrap: wrap;
    margin:0 20px;
    color: #000;
    select, input, textarea {
      border-radius: 0 !important;
      border-color: #DDDDDD;
    }
    label {
      margin-bottom:5px;
    }
    select {
      color: #444444;
      background-color: #fff;
    }
    .form-item {
      margin-top: 0!important;
    }
    .form-actions {
      margin: 10px auto;
      input {
        border: 2px solid #39799B;
        border-radius: 20px !important;
        padding: 10px 40px;
        display: flex;
        color: #fff;
        font-weight: bold;
        background-color: #39799B;
      }
    }
  }
  .js-form-item {
    display: flex;
    flex-direction: column;
  }
  .form-item-civilite, .form-textarea {
    width:100%;
  }
  .form-item-prenom, .form-item-name, .form-item-telephone, .form-item-email {
    width:48%;
  }
  .form-item-prenom, .form-item-telephone{
    margin-right:10px;
  }
  .js-form-type-textarea {
    margin-bottom:0;
  }
  .form-after {
    text-align: center;
    margin-top: 10px;
    >p:first-child {
      display: flex;
      justify-content: center;
      &:before,&:after{
        display: block;
        background-color: #DDDDDD;
        width: 35%;
        height: 1px;
        min-width: 50px;
        content: "";
        align-self: center;
      }
      &:before {
        margin-right: 20px;

      }
      &:after {
        margin-left: 20px;
      }
    }
    >p:nth-child(2) a {
      color: inherit;
      font-weight: bold;
      font-size: 1.1em;
    }
    >p:last-child {
      font-size: 0.7em;
      text-align: right;
    }
  }
}

@media screen and (max-width: 500px) {
  #block-webform-2 {
    position: relative;
    width: 100%;
    top:0;
    right:0;
    overflow: hidden;

    .form-title {
      background-color: #DDDDDD;
      padding:14px 0;
      margin-bottom:20px;
      >p:first-child {
        padding-top: 0;
      }
      .triangle {
        display: none;
      }
    }
  }

}