.block-views-blockslideshow-home-block-1 {
  display: none;
}
.gallery-residence {
  //padding:60px 0 !important;
  //margin-top:60px;
  .principal_pictures, .secondary_pictures {
    display: flex;
    justify-content: space-between;
    a{
      &:focus {
        outline: none;
      }
    }
    img {
      max-width: 100%;
      height: 100%;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(49, 121, 152, 0.5);
      .text {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        font-size: 1.1em;
        border: 2px solid;
        border-radius: 20px;
        padding: 10px;
        font-weight: bold;
        text-decoration: none;
      }
      .captionPicture {
        color: white;
        position: absolute;
        font-weight: bold;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 10px;
      }
    }
  }
  .principal_pictures > div:first-child {
    margin-right: 20px;
  }
  .principal_pictures > div {
    position: relative;
    &:hover .overlay {
      opacity: 1;
    }
  }
  .secondary_pictures {
    margin-top:20px;
    > div {
      position: relative;
      width: 25%;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      &:hover .overlay {
        opacity: 1;
      }
    }
  }
  .pictures_link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    a {
      color: inherit;
      text-decoration: none;
    }
    .field--name-field-pictures-link-gallery {
      border: 2px solid;
      border-radius: 20px;
      padding: 10px;
      color: inherit;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 500px) {
  .block-views-blockslideshow-home-block-1 {
    display: block;
    margin-top:40px;
  }
  .gallery-residence {
    display: none;
  }
  .views-field-field-picture-title {
    text-align: center;
  }
  .slick-dots li.slick-active button:before, .slick-dots li button:before {
    font-size: 2.75rem;
  }
}