@import '_colors.scss';

//fonts
$font_2: FontAwesome;


//@extend-elements
//original selectors
//html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
%extend_1 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

//original selectors
//ol, ul
%extend_2 {
	list-style: none;
	padding-left: 20px;
	margin-bottom: 20px;
}

//original selectors
//caption, th, td
%extend_3 {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}


.credit-link {
	text-align: left;
}
.social-media {
	margin: 10px 0;
	overflow: hidden;
	text-align: center;
	a {
		color: $black;
		margin: 0 10px 0 0;
		text-align: center;
		line-height: 220%;
		font-size: 1em;
		display: inline-block;
		padding: 10px;
		&:hover {
			color: $color_main;
		}
	}
}
.form-item {
	margin-top: 1em;
	margin-bottom: 1em;
	.description {
		font-size: 0.70em;
		line-height: 150%;
		color: $color_mountain_mist_approx;
		font-style: italic;
	}
}
.form-actions {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-top: 1.6em;
	margin-bottom: 1em;
}
.label {
	margin: 0;
	display: inline;
	font-size: inherit;
	font-weight: bold;
	margin: 1.7em 0.4em;
	padding: 0;
	width: 50px;
	font-weight: normal;
	float: left;
	color: $color_main;
}
.site-branding {
	margin: 0;
}
.region-contact-email {
	.block {
		margin: 5px 0;
	}
	p {
		margin: 0;
		line-height: 120%;
	}
}
.region-search {
	clear: both;
	padding: 6px 0;
}
.content-image {
	float: left;
	margin: 0 10px 5px 0;
}
::placeholder {
	color: $color_main;
}
.quickedit-form {
	max-width: 100% !important;
	width: 100%;
}
.quickedit-form-container {
	position: relative;
	padding: 0;
	border: 0;
	margin: 0;
	vertical-align: baseline;
	z-index: 100;
	width: 100%;
}
.img-mosaic-wrapper {
	padding: 3px;
	&:last-child {
		margin-bottom: 0;
	}
}
.img-mosaic {
	display: inline-block;
	clear: both;
	> img {
		float: left;
	}
	> div {
		float: left;
	}
}
.embed-responsive {
	margin: 0 5px;
	border: 4px $color_concrete_approx solid;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	background-color: $color_concrete_approx;
}
.node--unpublished {
	background-color: $white;
}
.wrapper {
	width: 980px;
	margin: 30px auto;
	position: relative;
}
.fa-2x {
	margin: 0 auto;
	float: none;
	display: table;
	color: $color_viking_approx;
}
.messages__item + .messages__item {
	margin-top: 0.769em;
}
.sidebar .region {
	.content {
		padding: 10px 0;
	}
	h2.title {
		padding: 5px 0;
		margin: 0;
	}
}
.form-checkboxes .form-item {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
.form-radios .form-item {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
.site-branding__logo a img {
	max-width: inherit;
}
.region-highlighted h2.title {
	display: none;
}
.masonry-item.views-row img {
	height: inherit !important;
}
.content-mason img {
	margin: 5px;
}

.bloc-title {
	text-align: center;
	font-weight: 600;
	margin-bottom: 30px;
	color: #444444;
	margin-top:0;
	&:after {
		display: block;
		background-color: #39799B;
		width: 8%;
		height: 2px;
		min-width: 50px;
		content: "";
		margin: 15px auto 0 auto;
	}
}
.path-frontpage {
	.parallax-widget {
		.gallery-residence, &.two, &.three, &.five, .address-wrap, .bloc-banner-bottom-after {
			margin-top:80px;
		}
	}
}
.not-front {
	.parallax-widget.one {
		margin-top:40px;
		strong {
			font-weight: bold;
		}
	}
}


@media screen and (max-width: 500px) {
	html {
		overflow-x: hidden;
	}
	.parallax-widget {
		.gallery-residence, &.two, &.three, &.five, .address-wrap, .bloc-banner-bottom-after {
			margin-top:40px;
		}
	}
}
