@import '_colors.scss';

.col-lg-1 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-lg-10 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-lg-11 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-lg-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-lg-2 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-lg-3 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-lg-4 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-lg-5 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-lg-6 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-lg-7 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-lg-8 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-lg-9 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-1 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-10 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-11 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
  min-height: 0 !important;
}
.col-md-2 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-3 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-4 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-5 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-6 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-7 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-8 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-9 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-1 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-10 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-11 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-2 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-3 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-4 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-5 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-6 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-7 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-8 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-sm-9 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-1 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-10 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-11 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-2 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-3 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-4 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-5 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-6 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-7 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-8 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-xs-9 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}