.main-header {
  .navbar {
    background-color: #fff;
    margin-bottom: 0;
    .region-header {
      display: flex;
      #block-drupal8-parallax-theme-branding {
        display: flex;
        width:70%;
        .brand.site-name {
          align-self: center;
          font-size: 1.1em;
        }
      }
      #block-telephone {
        align-self: center;
        width:30%;
        .text-formatted p {
          text-align: right;
          margin:0 !important;
          display: flex;
          justify-content: flex-end;
          a {
            border: 2px solid;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            color: inherit;
            font-weight: bold;
            justify-content: center;
            align-self: center;
            width: 75%;
            text-decoration: none;
            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main-header {
    .navbar {
      .region-header {
        #block-drupal8-parallax-theme-branding {
          flex-direction: column;
          width:70%;
          .site-branding__slogan {
            margin-bottom:20px;
          }
        }
        #block-telephone {
          .text-formatted p {
            a {
              border: none;
              .contentPhone {
                display: none;
              }
              img {
                width: 51%;
                height:100%;
              }
            }
          }
        }
      }
    }
  }
}