.region-google-map {
  .bloc-maps {
    .maps-description {
      display: flex;
      margin-top:30px;
      .maps-description-details {
        margin-right: 60px;
        width: 50%;
        .field--name-field-maps-title-residence {
          font-weight: bold;
          font-size: 1.8em;
          margin-bottom: 20px;
        }
        .field--name-field-maps-description p {
          text-align: justify;
          line-height: 1.8;
        }
      }
      .maps-description-acces {
        width: 50%;
        .field--name-field-maps-title-acces {
          font-weight: bold;
          font-size: 1.8em;
          margin-bottom: 20px;
        }
        .maps-pictos {
          display: flex;
          margin-bottom:10px;
          > div:first-child {
            width:12%;
            align-self: center;
          }
          > div:last-child {
            width: 80%;
          }
          img {
            vertical-align: bottom;
            //height: 80%;
            //width: 50%;
            margin-right:20px;
          }
          .field--type-text {
            align-self: center;
            strong {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .region-google-map {
    .bloc-maps {
      .maps-description {
        flex-direction: column;
        .maps-description-details {
          margin-left:20px;
          width: 90%;
          .field--name-field-maps-title-residence{
            &:after {
              content: '\02795';
              font-size: 13px;
              color: #777;
              margin-left: 10%;
            }
            &.active:after {
              content: "\2796"; /* Unicode character for "minus" sign (-) */
            }
          }
          .field--name-field-maps-description {
            display: none;
          }
          &:after {
              display: block;
              background-color: #DDDDDD;
              width: 90%;
              height: 1px;
              content: "";
              margin-bottom: 15px;
          }
        }
        .maps-description-acces {
          width: 100%;
          margin-left:20px;
          .field--name-field-maps-title-acces {
            &:after {
              content: '\02795';
              font-size: 13px;
              color: #777;
              margin-left: 10%;
            }
            &.active:after {
              content: "\2796";
            }
          }
          &:after {
            display: block;
            background-color: #DDDDDD;
            width: 90%;
            height: 1px;
            content: "";
            margin-bottom: 15px;
          }

        }
      }
    }
  }
}