//@import '_colors.scss';
//@import '_urls.scss';
//
//.messages {
//  background: no-repeat 10px 17px;
//  //border: 1px solid;
//  border-width: 1px 1px 1px 0;
//  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
//  border-radius: 2px;
//  padding: 10px 20px;
//  word-wrap: break-word;
//  overflow-wrap: break-word;
//  margin: 5px 0;
//  display: none !important;
//  + .messages {
//    margin-top: 1.538em;
//  }
//}
//.messages__list {
//  list-style: none;
//  padding: 0;
//  margin: 0;
//}
//.messages--status {
//  color: $color_dell_approx;
//  background-color: $color_saltpan_approx;
//  border-color: $color_pixie_green_approx $color_pixie_green_approx $color_pixie_green_approx transparent;
//  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
//  box-shadow: -8px 0 0 $color_chelsea_cucumber_approx;
//}
//.messages--warning {
//  background-color: $color_seashell_peach_approx;
//  border-color: $color_maize_approx $color_maize_approx $color_maize_approx transparent;
//  color: $color_antique_bronze_approx;
//  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
//  box-shadow: -8px 0 0 $color_gamboge_approx;
//}
//.messages--error {
//  background-color: $color_provincial_pink_approx;
//  color: $color_totem_pole_approx;
//  border-color: $color_your_pink_approx $color_your_pink_approx $color_your_pink_approx transparent;
//  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
//  box-shadow: -8px 0 0 $color_scarlet_approx;
//  p.error {
//    color: $color_totem_pole_approx;
//  }
//}