@import '_colors.scss';


.container-fluid {
	padding: 0 !important;
}
.region-homepagemessage {
	padding: 20px 0;
	text-align: center;
	max-width: 750px;
	margin: 0 auto;
	background: $black;
	background: $black_73;
	color: $white;
	margin-bottom: 20px;
	padding: 20px;
	p {
		margin: 0;
	}
	.block {
		margin: 0;
	}
}
.parallax-widget {
	padding: 0 !important;
	.parallax-region {
		max-width: 100%;
		margin: 0 auto;
		.row {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}
	&.zero {
		background-size: cover;
		.parallax-region {
			padding: 0;
			background: none;
		}
	}
	&.one {
		background-size: cover;
		background-color: $white;
	}
	&.two {
		background-size: cover;
		.parallax-region {
			background: $black;
			background: rgba(255, 255, 255, 0);
		}
	}
	&.three {
		background-size: cover;
	}
	&.four {
		background-size: cover;
	}
	&.five {
		background-size: cover;
		&.map-and-address {
		}
	}
	&.six {
		background-size: cover;
		&#footer-top {
			background-color: $color_main !important;
		}
	}
}
.path-frontpage {
	.region-content {
		min-height: auto;
	}
	.feed-icon {
		display: none;
	}
	.content_layout {
		max-width: 750px;
		max-width: 100% !important;
		margin: 0 auto;
		overflow: hidden;
	}
	.bottom-widgets {
		padding: 20px 0;
	}
	.parallax-widget.one {
		background-size: cover;
		background-color: $white;
	}
	h3.gallery-title-2 {
		margin-top: 0;
		margin-bottom: 5px;
	}
	.layout-region--content .text-formatted {
		padding: 0;
	}
}
.not-front .parallax-region{
	max-width: 850px;
}
.region {
	&.region-content {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	&.region-breadcrumb {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 1180px;
	}
}
.container {
	padding: 0 !important;
}
.google_map {
	p {
		margin: 0;
	}
	.block {
		margin: 0;
	}
	iframe {
		display: block;
	}
}
.address-wrap {
	text-align: center;
	//padding: 25px 0 10px;
	background-color: inherit;
}
.layout-region--content .text-formatted {
	text-align: justify;
	padding: 0 20px;
}
div {
	.layout-region--content .text-formatted {
		display: flex;
		justify-content: center;
		padding: 0 !important;
	}
}
.node--type-page .container {
	margin: 50px auto !important;
}
//@media screen and(max-width: 420px) {
//	.path-frontpage .parallax-widget.one {
//		margin-top: 60px;
//	}
//}
@media(max-width: 900px) {
	.layout-region {
		&.layout-region--left_above {
			flex: 0 1 100% !important;
			padding: 10px;
			max-width: 100% !important;
		}
		&.layout-region--right_above {
			flex: 0 1 100% !important;
			padding: 10px;
			max-width: 100% !important;
		}
		&.layout-region--left {
			flex: 0 1 100% !important;
			padding: 10px;
			max-width: 100% !important;
		}
		&.layout-region--right {
			flex: 0 1 100% !important;
			padding: 10px;
			max-width: 100% !important;
		}
		&.layout-region--left_below {
			padding: 10px;
			flex: 0 1 100% !important;
			max-width: 100% !important;
		}
		&.layout-region--right_below {
			flex: 0 1 100% !important;
			padding: 10px;
			max-width: 100% !important;
		}
	}
	//.parallax-widget.one {
	//	margin-top: 184px;
	//	background-color: $white;
	//}
}


/*----------------------------
	User Login Form
-----------------------------*/

.user-login-form {
	border: 1px solid $color_mercury_approx;
	background: $color_romance_approx;
	max-width: 500px;
	margin: 40px auto;
	padding: 5px 20px;
	background: $white;
	.form-text {
		width: 100%;
	}
	.form-email {
		width: 100%;
	}
}
.user-form {
	border: 1px solid $color_mercury_approx;
	background: $color_romance_approx;
	max-width: 500px;
	margin: 40px auto;
	padding: 5px 20px;
	background: $white;
	.form-text {
		width: 100%;
	}
	.form-email {
		width: 100%;
	}
}
.user-pass {
	border: 1px solid $color_mercury_approx;
	background: $color_romance_approx;
	max-width: 500px;
	margin: 40px auto;
	padding: 5px 20px;
	background: $white;
	.form-text {
		width: 100%;
	}
	.form-email {
		width: 100%;
	}
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
  color: #999;
  font-style: italic;
}

/*----------------------------
	Maintainance
-----------------------------*/


.maintenance-page {
	background: $color_malibu_approx center no-repeat;
	text-align: center;
	padding-top: 220px;
	padding-bottom: 100px;
	color: $black;
	.brand {
		display: inline-block;
		vertical-align: middle;
	}
	.name-and-slogan {
		display: inline-block;
		vertical-align: middle;
		display: none;
	}
	.site-slogan {
		display: none;
	}
	.site-name a {
		color: $color_main;
	}
}
.maintenance-msg {
	margin: 20px 0;
	background: $color_wheatfield_88_approx;
	padding: 20px 30px;
	display: inline-block;
	color: $color_cape_cod_approx;
	border: 1px solid $white;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 5px 5px 0 $white;
	h1 {
		text-transform: uppercase;
		font-weight: bold;
	}
}

/*----------------------------
	Profile Page
-----------------------------*/

.path-user {
	.profile {
		> div {
			display: inline-block;
		}
		.label {
			display: block;
			color: $color_mine_shaft_approx;
		}
	}
	.region-page-title {
		display: none;
	}
}
