.region-services {
  //padding:60px 0;
  .services-content {
    > div > div {
      display: flex;
      flex-wrap: wrap;
    }
    .views-row {
      width:25%;
      margin-bottom: 20px;

      .service_detail {
        display: flex;
        .service_picto {
          width:25%;
          > div:first-child {
            text-align: center;
          }
        }
        .service_picto img {
          vertical-align: bottom;
        }
        .service_description {
          align-self: center;
          margin-left: 20px;
        }
      }
    }
  }
  .services_link {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .region-services{
    .services_link {
      display: block;
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
      &:before {
        content: '\02795';
        font-size: 13px;
        color: #777;
        margin-left: 10%;
      }
      &.active:before {
        content: "\2796";
      }
    }
    .services-content{
      margin-left: 10px;
      .views-row {
        width:50%;
      }
    }
  }

}

