//@import "variables-and-mixins";
//
//@media (min-width: 767px) {
//
//  .main-header{
//    position: fixed;
//    top: 0;
//    left: 0;
//    right: 0;
//    z-index: 99;
//    overflow: visible;
//  }
//
//  //.user-logged-in .main-header{
//  //  position: relative;
//  //}
//
//  /*flexslider*/
//
//  .flexslider {
//
//    h2{ font-size: 2em; }
//
//    .slider-caption{ display: block; }
//
//    .flex-direction-nav{
//      display: block;
//      margin-top: -24px;
//    }
//
//  }
//
//  .top-menu{
//    padding: 0;
//    text-align: left;
//  }
//
//  .testimonials-wrap{ padding: 75px 0 55px; }
//
//  .topwidget{
//    > div{
//      border-right: 1px dotted #ddd;
//
//
//      &:last-child{
//        border: 0;
//      }
//    }
//  }
//
//  .copyright{
//    p{ margin: 10px 0; }
//  }
//
//  .footerwidget img.left{
//    float: left;
//    margin: 10px 10px 0 0;
//  }
//
//  .region-primary-menu{
//    display: inline-block !important;
//    float: right;
//    width: auto;
//    margin: 0;
//    background: none;
//
//    ul{
//      border: 0;
//
//      ul{
//        background: #fff;
//        background: $desktopMenuDropDownBg;
//
//        li a,
//        li a:hover,
//        li a:focus,
//        li a:active,
//        li a.highlighted{
//          padding: 12px 15px;
//        }
//      }
//    }
//
//    li{
//      border: 0;
//
//      a{
//        background: none;
//        border: 0;
//        color: #707070;
//
//        span.sub-arrow {
//          padding: 0;
//          top: 20px;
//          margin-top: 0;
//          bottom: 2px;
//          right: 2px;
//          margin-left: -5px;
//          left: auto;
//          width: 0;
//          height: 0;
//          border-width: 4px;
//          border-style: solid;
//          border-color: #848484 transparent transparent transparent;
//          font-size: 2em;
//          line-height: 100%;
//        }
//      }
//
//      li{
//        span.sub-arrow {
//          top: 12px;
//          border-color: transparent transparent transparent #848484
//        }
//      }
//
//      &.active a{
//        background: none;
//        color: $menuTextActiveColor;
//      }
//    }
//  }
//
//  .carousel-caption p,
//  .carousel-caption h3{
//    display: block;
//  }
//
//  .carousel-caption p:last-child{
//    margin: 0;
//  }
//
//  .carousel-caption{
//    background-color: #fff;
//    background: rgba(0, 0, 0, 0.84);
//    color: #ddd;
//    text-shadow: none;
//    padding: 20px;
//    top: 20%;
//    left: 10%;
//    bottom: auto;
//    width: 30%;
//    text-align: left;
//  }
//
//  .credit-link{
//    text-align: right;
//  }
//
//  /*comment*/
//
//  .comment-wrap{
//
//    .author-details{ width: 10%; }
//
//    .author-comments{ width: 90%; }
//
//  }
//
//  .region-top-menu{
//    margin: 10px 0;
//
//    ul{
//      text-align: right;
//    }
//  }
//
//  .region-contact-email{
//    p{
//      margin: 10px 0;
//      line-height: 120%;
//      font-size: 2em;
//    }
//  }
//
//}