/*@charset "utf-8";*/

.timeline-TweetList {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.SandboxRoot .timeline-TweetList-tweet {
    width:49%;
    background-color: white;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px; border-radius: 26px;
    align-self: flex-start;
}

@media screen and (max-width : 767px ) {
    .SandboxRoot .timeline-TweetList-tweet {
        width:100%;
    }
    .SandboxRoot .timeline-TweetList-tweet:nth-child(1) {
        margin-bottom:40px;
    }

}

.SandboxRoot .timeline-Tweet{
    padding:0 !important;
    display: flex;
    flex-direction:column;
    -webkit-flex-direction:column;
}

.SandboxRoot .timeline-Tweet-brand, .timeline-Tweet-retweetCredit {
    display: none;
}

.SandboxRoot .timeline-Tweet-author{
    margin:-22px 20px 20px 20px  !important;
}

.SandboxRoot .timeline-Tweet-text {
    font-size: 18px !important;
    line-height: 28px !important;
    margin: 25px 25px 10px 25px !important;
}

.SandboxRoot .timeline-Tweet-media {
    margin : 0!important;
    order:-1;
    border-top-right-radius: 26px !important;
    border-top-left-radius:26px !important;
    overflow: hidden;
}

.SandboxRoot .timeline-Tweet-metadata {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    order: -1;
    margin-top: 25px !important;
    margin-right: 25px;
}

.SandboxRoot .timeline-Tweet-timestamp {
    font-size: 15px !important;
}

.SandboxRoot .timeline-Tweet-actions {
    margin-left:25px !important;
    margin-bottom:10px;
}

.NaturalImage-image {
    width: 100% !important;
}

.MediaCard-widthConstraint.js-cspForcedStyle {
    max-width: 100% !important;
}




