/** 
	* Filename:     global.css
	* Version:      1.0.0 (2016-11-15)
	* Website:      http://www.zymphonies.com
	* Description:  Global Styles
	* Author:		support Team
					support@zymphonies.com
**/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,300,600,700");
.bandeau-haut { background: rgba(255, 255, 255, 0.5) url("/sites/default/files/home/background-home.png") no-repeat center; color: white; filter: drop-shadow(16px 16px -70px blue); box-shadow: inset 13px 0 0 446px rgba(0, 0, 0, 0.5); padding: 30px 0 60px 0; background-size: cover; }
.bandeau-haut .bandeau-haut-titre { text-align: center; font-size: 4em; font-weight: bold; color: white; margin-bottom: 70px; }
.bandeau-haut .bandeau-haut-titre:after { display: block; background-color: #39799B; width: 8%; height: 2px; min-width: 50px; content: ""; margin: 0 auto; }
.bandeau-haut .bandeau-haut-description { width: 60%; margin-bottom: 20px; font-weight: bold; font-size: 1.2em; text-align: justify; }
.bandeau-haut .bandeau-haut-details p:first-child { font-weight: 900; font-size: 1.7em; margin-bottom: 10px !important; }
.bandeau-haut .bandeau-haut-details ul { margin-left: 20px; }
.bandeau-haut .bandeau-haut-details ul li { height: auto; text-transform: inherit; list-style: url("/sites/default/files/pictos/checklist.png"); font-size: 1.1em; }
.bandeau-haut .bandeau-haut-ancre { margin-top: 20px; }
.bandeau-haut .bandeau-haut-ancre a { color: white; text-decoration: underline; font-size: 1.2em; font-weight: bold; margin-left: 15px; display: flex; }
.bandeau-haut .bandeau-haut-ancre a p { margin: 0 !important; }
.bandeau-haut .bandeau-haut-ancre a img { height: 15px; width: 15px; align-self: center; }
.bandeau-haut .bandeau-haut-ancre a img:first-child { margin-right: 10px; }
.bandeau-haut .bandeau-haut-ancre a img:last-child { margin-left: 10px; }

@media screen and (max-width: 500px) { .bandeau-haut .bandeau-haut-titre { font-size: 2.5em; font-weight: bold; color: white; margin-bottom: 50px; }
  .bandeau-haut .bandeau-haut-titre:after { display: block; background-color: #39799b; width: 8%; height: 2px; min-width: 50px; content: ""; margin: 0 auto; }
  .bandeau-haut .bandeau-haut-description { width: 100%; background-color: #22221A; padding: 20px 0; }
  .bandeau-haut .bandeau-haut-description > div { width: 90%; margin: 20px auto; text-align: center; }
  .bandeau-haut .bandeau-haut-details { margin: 0 20px; }
  .bandeau-haut .bandeau-haut-ancre { margin-top: 20px; }
  .bandeau-haut .bandeau-haut-ancre a { justify-content: center; } }
.region-banner-bottom .bloc-banner-bottom { display: flex; color: #fff; }
.region-banner-bottom .bloc-banner-bottom > div { width: 50%; background-size: cover; background-repeat: no-repeat; background-position: center; }
.region-banner-bottom .bloc-banner-bottom .banner-bottom-picture .field--name-field-banner-bottom-picture { overflow: hidden; }
.region-banner-bottom .bloc-banner-bottom .banner-bottom-picture img { width: 100%; height: 100%; vertical-align: bottom; }
.region-banner-bottom .bloc-banner-bottom .banner-bottom-content { background-color: #66554F; padding-bottom: 40px; }
.region-banner-bottom .bloc-banner-bottom .banner-bottom-content .banner-bottom-title .bloc-title { color: #fff; text-align: left; margin-top: 40px; margin-left: 40px; }
.region-banner-bottom .bloc-banner-bottom .banner-bottom-content .banner-bottom-title .bloc-title:after { margin: 40px 0 0 0; }
.region-banner-bottom .bloc-banner-bottom .banner-bottom-content .banner-bottom-text { width: 60%; text-align: justify; margin-left: 40px; line-height: 1.8; font-size: 1.2em; }
.region-banner-bottom .bloc-banner-bottom .banner-bottom-content .banner-bottom-text .bloc-title { margin-top: 20px; margin-bottom: 20px; text-align: left; color: #fff; }
.region-banner-bottom .bloc-banner-bottom .banner-bottom-content .banner-bottom-text .bloc-title:after { margin: 20px 0 0 0; }
.region-banner-bottom .bloc-banner-bottom-after { margin-top: 40px; }
.region-banner-bottom .bloc-banner-bottom-after .field--name-field-banner-bottom-text-after { display: flex; justify-content: center; font-weight: bold; font-size: 1.2em; }
.region-banner-bottom .bloc-banner-bottom-after .field--name-field-banner-bottom-text-after:before { display: block; background-color: #39799B; width: 5%; height: 2px; min-width: 50px; content: ""; align-self: center; margin-right: 20px; }
.region-banner-bottom .bloc-banner-bottom-after .field--name-field-banner-bottom-text-after > div:first-child { margin-right: 20px; align-self: center; }
.region-banner-bottom .bloc-banner-bottom-after .field--name-field-banner-bottom-text-after > div:last-child a { border: 2px solid; border-radius: 20px; padding: 10px; display: flex; color: inherit; font-weight: bold; text-decoration: none; }
.region-banner-bottom .bloc-banner-bottom-after .field--name-field-banner-bottom-text-after > div:last-child a:hover:hover { border: 2px solid #39799B; color: #fff; background-color: #39799B; }

@media screen and (max-width: 500px) { .region-banner-bottom .bloc-banner-bottom { flex-direction: column; }
  .region-banner-bottom .bloc-banner-bottom > div { width: 100%; }
  .region-banner-bottom .bloc-banner-bottom > div:first-child { height: 250px; }
  .region-banner-bottom .bloc-banner-bottom .banner-bottom-content { padding-bottom: 30px; }
  .region-banner-bottom .bloc-banner-bottom .banner-bottom-content .banner-bottom-title .bloc-title { margin-left: 20px; }
  .region-banner-bottom .bloc-banner-bottom .banner-bottom-content .banner-bottom-text { width: 80%; font-size: 1.1em; }
  .region-banner-bottom .bloc-banner-bottom-after .field--name-field-banner-bottom-text-after { flex-direction: column; }
  .region-banner-bottom .bloc-banner-bottom-after .field--name-field-banner-bottom-text-after > div:first-child { margin-top: 20px; }
  .region-banner-bottom .bloc-banner-bottom-after .field--name-field-banner-bottom-text-after > div:last-child a { padding: 6px; justify-content: center; width: 80%; margin: 20px auto; border: 2px solid #39799B; color: #fff; background-color: #39799B; } }
html { line-height: 1; }

body { font-family: "PT Sans" !important; font-size: 14px !important; line-height: 160%; color: #444444; overflow-x: hidden; font-weight: 300; background: #fff; background-size: cover; }

h1 { font-weight: 600; margin: 10px 0; line-height: 120%; color: #64a1bd; font-size: 1.9rem; margin-top: 20px; text-align: left; padding-left: 20px; padding-right: 20px; }

p { margin: 0 10px 10px 0 !important; }

a { transition: all 0.2s linear; color: #64a1bd; }

abbr.tabledrag-changed { border-bottom: none; }
abbr.ajax-changed { border-bottom: none; }

em { font-style: italic !important; }

img { max-width: 100%; }

q { quotes: none; }
q:before { content: ""; }
q:after { content: ""; }

strong { font-weight: bold; }

ol li { padding: 2px 0; list-style-type: decimal; }

form .field-multiple-table { margin: 0; }
form .field-multiple-table .field-multiple-drag { width: 30px; padding-right: 0; }
form .field-multiple-table .field-multiple-drag .tabledrag-handle { padding-right: .5em; }
form .field-add-more-submit { margin: .5em 0 0; }

label.option { display: inline; font-weight: normal; color: #64a1bd; }

table { border-collapse: collapse; border-spacing: 0; width: 100%; margin: 0 0 10px; }

caption { text-align: left; }

article { display: block; }

aside { display: block; }

details { display: block; }

figure { display: block; }

figcaption { display: block; }

footer { display: block; }

header { display: block; }
header .col-md-9 { max-width: 100% !important; flex-grow: 10; }

hgroup { display: block; }

menu { display: block; }

section { display: block; }

summary { display: block; }

ul.tabs { list-style: none; margin: 0 0 0.5em; padding: 0; }
ul li { list-style: outside; padding: 2px 0; }
ul.links.inline { padding: 0; }
ul.links.inline li { list-style: none; display: inline-block; padding-right: 10px; }

input { padding: 6px; border: 1px solid #64a1bd; border-radius: 10px; padding-left: 20px; padding-right: 15px; color: #64a1bd; }

button { border: 1px solid #64a1bd; padding: 6px; border-radius: 10px; color: #64a1bd; }

select { padding: 6px; border: 1px solid #64a1bd; border-radius: 10px; padding-left: 20px; padding-right: 15px; color: #64a1bd; }
select#edit-vous-etes { width: 100%; }

textarea { padding: 6px; border: 1px solid #64a1bd; border-radius: 10px; padding-left: 20px; padding-right: 15px; color: #64a1bd; }

input[type="submit"] { background: #64a1bd; color: #fff; border: 0; padding: 10px 15px; line-height: 100%; border-radius: 10px; }
input[type="submit"]:hover { background: #64a1bd; color: #fff; }

.sim-button { line-height: 46px; height: 50px; text-align: center; width: 14%; cursor: pointer; }

.button6 { color: white; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; position: relative; }

.button6 a { color: #fff; text-decoration: none; display: block; }

.button6 span { z-index: 2; position: absolute; left: 0; margin: auto; width: 100%; }

.button6::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; opacity: 0; background-color: #fff; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s; -webkit-transform: scale(0.5, 1); transform: scale(0.5, 1); }

.button6:hover::before { opacity: 1; -webkit-transform: scale(1, 1); transform: scale(1, 1); }

.button6:hover span a { color: #64a1bd; }

.row { margin: 0 !important; }

.a2a_button_google_plus { display: none !important; }

.bloc-consultant { border: 3px solid #DD0043; padding: 40px; font-size: 1.2em; }
.bloc-consultant .bloc-consultant-title { text-align: center; }
.bloc-consultant .bloc-consultant-description { display: flex; justify-content: center; }
.bloc-consultant .bloc-consultant-description .field--name-field-conseiller-picture { margin-right: 30px; width: 20%; }
.bloc-consultant .bloc-consultant-description .field--name-field-conseiller-picture img { height: 100%; width: 100%; }
.bloc-consultant .bloc-consultant-description .field--name-field-conseiller-description > p:first-child { margin-bottom: 0 !important; }
.bloc-consultant .bloc-consultant-description .field--name-field-conseiller-description > p:nth-child(2) { font-weight: 800; }
.bloc-consultant .bloc-consultant-description .bloc-consultant-address { display: flex; }
.bloc-consultant .bloc-consultant-description .bloc-consultant-address .field--name-field-conseiller-address-picture img { height: 20px; width: 15px; }
.bloc-consultant .bloc-consultant-description .bloc-consultant-address .field--name-field-conseiller-address { margin-left: 10px; }
.bloc-consultant .bloc-consultant-description .bloc-consultant-address .field--name-field-conseiller-address > p:first-child { margin-bottom: 0 !important; }
.bloc-consultant .bloc-consultant-contact { display: flex; justify-content: center; }
.bloc-consultant .bloc-consultant-contact .contact-form a { padding: 10px 20px; }
.bloc-consultant .bloc-consultant-contact .contact-form a:hover { border: 2px solid #39799B; color: #fff; background-color: #39799B; }
.bloc-consultant .bloc-consultant-contact a { border: 2px solid; border-radius: 20px; padding: 10px; display: flex; color: inherit; font-weight: bold; }
.bloc-consultant .bloc-consultant-contact a:visited, .bloc-consultant .bloc-consultant-contact a:hover { text-decoration: none; }
.bloc-consultant .bloc-consultant-contact a img { height: 50%; width: 14%; margin-left: 10px; }
.bloc-consultant .bloc-consultant-contact a > div { align-self: center; margin-left: 10px; }
.bloc-consultant .bloc-consultant-contact > div { margin-right: 20px; margin-top: 20px; }

@media screen and (max-width: 500px) { .bloc-title { font-size: 25px; }
  .bloc-consultant .bloc-consultant-description { flex-direction: column; }
  .bloc-consultant .bloc-consultant-description .field--name-field-conseiller-picture { margin: auto; width: 50%; }
  .bloc-consultant .bloc-consultant-description .field--name-field-conseiller-description { text-align: center; margin-top: 10px; }
  .bloc-consultant .bloc-consultant-address { justify-content: center; }
  .bloc-consultant .bloc-consultant-contact { flex-direction: column; }
  .bloc-consultant .bloc-consultant-contact a { justify-content: center; padding: 6px; }
  .bloc-consultant .bloc-consultant-contact a img { width: 8%; }
  .bloc-consultant .bloc-consultant-contact .contact-form a { padding: 6px 20px; } }
.region-address .bloc-visit-link, .region-address .field--name-field-link-visit { height: 100%; }
.region-address .bloc-visit { height: 460px; background-size: cover; background-repeat: no-repeat; background-position: 70%; }
.region-address .bloc-visit-link a { top: 50%; position: relative; color: black; background-color: #fff; padding: 12px 19px; border-radius: 20px; }
.region-address .bloc-visit-link a:hover { text-decoration: none; }
.region-address .bloc-visit-link a img { vertical-align: middle; margin-left: 5px; margin-top: -4px; }

#block-chiffresanimeshaut { padding: 20px; }

.animated_number_top > div { display: flex !important; }
.animated_number_top > div > div { display: flex; margin-right: 30px; }
.animated_number_top > div > div .pictos_number { display: flex; justify-content: flex-end; flex-direction: column; }
.animated_number_top > div > div .content_number { display: flex; flex-direction: column; justify-content: flex-end; margin-left: 10px; }
.animated_number_top > div > div .content_number .content_number_first { display: flex; }
.animated_number_top > div > div .content_number .content_number_first div:first-child { align-self: center; margin-right: 5px; }
.animated_number_top > div > div .content_number .content_number_first .counter { font-size: 1.5em; font-weight: bold; }

.banner_pictogram_figure { background-color: #F2F2F2; }

.region-banner-pictogram-figure { padding: 60px 0; }

.animated_number_top .content_counter_bottom { justify-content: center; }

@media screen and (max-width: 500px) { .animated_number_top > div > div { margin-left: 10px; margin-right: 0; font-size: 0.9em; width: 33%; }
  .animated_number_top > div > div .content_number { text-align: center; }
  .animated_number_top > div > div .content_number .content_number_first { display: block; }
  .animated_number_top > div > div .content_number .content_number_first div:first-child { margin-right: 0; }
  .animated_number_top > div > div .content_number .content_number_first .counter { font-size: 1.2em; }
  .animated_number_top > div > div:first-child .content_number { text-align: left; }
  .animated_number_top .content_counter_bottom { justify-content: space-between; } }
.parallax-widget.six { margin: 40px 0; }
.parallax-widget.six .region-footer { display: flex; }
.parallax-widget.six .region-footer > div:nth-child(1) { width: 20%; align-self: center; }
.parallax-widget.six .region-footer > div:nth-child(2) { width: 25%; align-self: center; }
.parallax-widget.six .region-footer > div:last-child { width: 55%; color: #B0B0B0; font-size: 0.8em; }
.parallax-widget.six .region-footer #block-telephone-2 a { border: 2px solid; border-radius: 20px; padding: 10px; display: flex; color: inherit; font-weight: bold; justify-content: center; align-self: center; width: 91%; text-decoration: none; }
.parallax-widget.six .region-footer #block-telephone-2 img { margin-right: 10px; }

@media screen and (max-width: 500px) { .parallax-widget.six .region-footer { flex-direction: column; }
  .parallax-widget.six .region-footer > div:nth-child(1) { width: 50%; }
  .parallax-widget.six .region-footer > div:nth-child(2) { width: 70%; margin: 10px auto; }
  .parallax-widget.six .region-footer > div:last-child { width: 90%; margin: 10px auto; }
  .parallax-widget.six .region-footer #block-telephone-2 a { padding: 6px; width: 100%; } }
#block-webform-2 { width: 22%; position: absolute; top: 30%; right: 19%; background-color: white; z-index: 2; box-shadow: 0px 0px 21px 1px rgba(182, 187, 183, 0.3); border: 2px solid #DDDDDD; }
#block-webform-2 .form-title { text-align: center; padding-bottom: 14px; background-color: #DDDDDD; margin-bottom: 10px; }
#block-webform-2 .form-title > p:first-child { font-size: 1.6em; font-weight: bold; padding-top: 14px; }
#block-webform-2 .form-title > p:last-child { font-size: 0.9em; }
#block-webform-2 .form-title p { margin: 0 !important; background-color: #DDDDDD; }
#block-webform-2 form { display: flex; flex-wrap: wrap; margin: 0 20px; color: #000; }
#block-webform-2 form select, #block-webform-2 form input, #block-webform-2 form textarea { border-radius: 0 !important; border-color: #DDDDDD; }
#block-webform-2 form label { margin-bottom: 5px; }
#block-webform-2 form select { color: #444444; background-color: #fff; }
#block-webform-2 form .form-item { margin-top: 0 !important; }
#block-webform-2 form .form-actions { margin: 10px auto; }
#block-webform-2 form .form-actions input { border: 2px solid #39799B; border-radius: 20px !important; padding: 10px 40px; display: flex; color: #fff; font-weight: bold; background-color: #39799B; }
#block-webform-2 .js-form-item { display: flex; flex-direction: column; }
#block-webform-2 .form-item-civilite, #block-webform-2 .form-textarea { width: 100%; }
#block-webform-2 .form-item-prenom, #block-webform-2 .form-item-name, #block-webform-2 .form-item-telephone, #block-webform-2 .form-item-email { width: 48%; }
#block-webform-2 .form-item-prenom, #block-webform-2 .form-item-telephone { margin-right: 10px; }
#block-webform-2 .js-form-type-textarea { margin-bottom: 0; }
#block-webform-2 .form-after { text-align: center; margin-top: 10px; }
#block-webform-2 .form-after > p:first-child { display: flex; justify-content: center; }
#block-webform-2 .form-after > p:first-child:before, #block-webform-2 .form-after > p:first-child:after { display: block; background-color: #DDDDDD; width: 35%; height: 1px; min-width: 50px; content: ""; align-self: center; }
#block-webform-2 .form-after > p:first-child:before { margin-right: 20px; }
#block-webform-2 .form-after > p:first-child:after { margin-left: 20px; }
#block-webform-2 .form-after > p:nth-child(2) a { color: inherit; font-weight: bold; font-size: 1.1em; }
#block-webform-2 .form-after > p:last-child { font-size: 0.7em; text-align: right; }

@media screen and (max-width: 500px) { #block-webform-2 { position: relative; width: 100%; top: 0; right: 0; overflow: hidden; }
  #block-webform-2 .form-title { background-color: #DDDDDD; padding: 14px 0; margin-bottom: 20px; }
  #block-webform-2 .form-title > p:first-child { padding-top: 0; }
  #block-webform-2 .form-title .triangle { display: none; } }
.block-views-blockslideshow-home-block-1 { display: none; }

.gallery-residence .principal_pictures, .gallery-residence .secondary_pictures { display: flex; justify-content: space-between; }
.gallery-residence .principal_pictures a:focus, .gallery-residence .secondary_pictures a:focus { outline: none; }
.gallery-residence .principal_pictures img, .gallery-residence .secondary_pictures img { max-width: 100%; height: 100%; }
.gallery-residence .principal_pictures .overlay, .gallery-residence .secondary_pictures .overlay { position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: .5s ease; background-color: rgba(49, 121, 152, 0.5); }
.gallery-residence .principal_pictures .overlay .text, .gallery-residence .secondary_pictures .overlay .text { color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); text-align: center; font-size: 1.1em; border: 2px solid; border-radius: 20px; padding: 10px; font-weight: bold; text-decoration: none; }
.gallery-residence .principal_pictures .overlay .captionPicture, .gallery-residence .secondary_pictures .overlay .captionPicture { color: white; position: absolute; font-weight: bold; bottom: 0; display: flex; justify-content: center; width: 100%; padding-bottom: 10px; }
.gallery-residence .principal_pictures > div:first-child { margin-right: 20px; }
.gallery-residence .principal_pictures > div { position: relative; }
.gallery-residence .principal_pictures > div:hover .overlay { opacity: 1; }
.gallery-residence .secondary_pictures { margin-top: 20px; }
.gallery-residence .secondary_pictures > div { position: relative; width: 25%; margin-right: 20px; }
.gallery-residence .secondary_pictures > div:last-child { margin-right: 0; }
.gallery-residence .secondary_pictures > div:hover .overlay { opacity: 1; }
.gallery-residence .pictures_link { display: flex; justify-content: center; margin-top: 20px; }
.gallery-residence .pictures_link a { color: inherit; text-decoration: none; }
.gallery-residence .pictures_link .field--name-field-pictures-link-gallery { border: 2px solid; border-radius: 20px; padding: 10px; color: inherit; font-weight: bold; }

@media screen and (max-width: 500px) { .block-views-blockslideshow-home-block-1 { display: block; margin-top: 40px; }
  .gallery-residence { display: none; }
  .views-field-field-picture-title { text-align: center; }
  .slick-dots li.slick-active button:before, .slick-dots li button:before { font-size: 2.75rem; } }
html, body, span, applet, object, iframe, h1, h5, h6, p, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, output, ruby, section, summary, time, mark, audio, video, ul { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

ol, ul { list-style: none; padding-left: 20px; margin-bottom: 20px; }

caption { text-align: left; font-weight: normal; vertical-align: middle; }

.credit-link { text-align: left; }

.social-media { margin: 10px 0; overflow: hidden; text-align: center; }
.social-media a { color: #000; margin: 0 10px 0 0; text-align: center; line-height: 220%; font-size: 1em; display: inline-block; padding: 10px; }
.social-media a:hover { color: #64a1bd; }

.form-item { margin-top: 1em; margin-bottom: 1em; }
.form-item .description { font-size: 0.70em; line-height: 150%; color: #999; font-style: italic; }

.form-actions { margin-top: 1em; margin-bottom: 1em; margin-top: 1.6em; margin-bottom: 1em; }

.label { margin: 0; display: inline; font-size: inherit; font-weight: bold; margin: 1.7em 0.4em; padding: 0; width: 50px; font-weight: normal; float: left; color: #64a1bd; }

.site-branding { margin: 0; }

.region-contact-email .block { margin: 5px 0; }
.region-contact-email p { margin: 0; line-height: 120%; }

.region-search { clear: both; padding: 6px 0; }

.content-image { float: left; margin: 0 10px 5px 0; }

::placeholder { color: #64a1bd; }

.quickedit-form { max-width: 100% !important; width: 100%; }

.quickedit-form-container { position: relative; padding: 0; border: 0; margin: 0; vertical-align: baseline; z-index: 100; width: 100%; }

.img-mosaic-wrapper { padding: 3px; }
.img-mosaic-wrapper:last-child { margin-bottom: 0; }

.img-mosaic { display: inline-block; clear: both; }
.img-mosaic > img { float: left; }
.img-mosaic > div { float: left; }

.embed-responsive { margin: 0 5px; border: 4px #f1f3f1 solid; border-radius: 3px; background-color: #f1f3f1; }

.node--unpublished { background-color: #fff; }

.wrapper { width: 980px; margin: 30px auto; position: relative; }

.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }

.messages__item + .messages__item { margin-top: 0.769em; }

.sidebar .region .content { padding: 10px 0; }
.sidebar .region h2.title { padding: 5px 0; margin: 0; }

.form-checkboxes .form-item { margin-top: 0.4em; margin-bottom: 0.4em; }

.form-radios .form-item { margin-top: 0.4em; margin-bottom: 0.4em; }

.site-branding__logo a img { max-width: inherit; }

.region-highlighted h2.title { display: none; }

.masonry-item.views-row img { height: inherit !important; }

.content-mason img { margin: 5px; }

.bloc-title { text-align: center; font-weight: 600; margin-bottom: 30px; color: #444444; margin-top: 0; }
.bloc-title:after { display: block; background-color: #39799B; width: 8%; height: 2px; min-width: 50px; content: ""; margin: 15px auto 0 auto; }

.path-frontpage .parallax-widget .gallery-residence, .path-frontpage .parallax-widget.two, .path-frontpage .parallax-widget.three, .path-frontpage .parallax-widget.five, .path-frontpage .parallax-widget .address-wrap, .path-frontpage .parallax-widget .bloc-banner-bottom-after { margin-top: 80px; }

.not-front .parallax-widget.one { margin-top: 40px; }
.not-front .parallax-widget.one strong { font-weight: bold; }

@media screen and (max-width: 500px) { html { overflow-x: hidden; }
  .parallax-widget .gallery-residence, .parallax-widget.two, .parallax-widget.three, .parallax-widget.five, .parallax-widget .address-wrap, .parallax-widget .bloc-banner-bottom-after { margin-top: 40px; } }
.col-lg-1 { padding-right: 0 !important; padding-left: 0 !important; }

.col-lg-10 { padding-right: 0 !important; padding-left: 0 !important; }

.col-lg-11 { padding-right: 0 !important; padding-left: 0 !important; }

.col-lg-12 { padding-right: 0 !important; padding-left: 0 !important; }

.col-lg-2 { padding-right: 0 !important; padding-left: 0 !important; }

.col-lg-3 { padding-right: 0 !important; padding-left: 0 !important; }

.col-lg-4 { padding-right: 0 !important; padding-left: 0 !important; }

.col-lg-5 { padding-right: 0 !important; padding-left: 0 !important; }

.col-lg-6 { padding-right: 0 !important; padding-left: 0 !important; }

.col-lg-7 { padding-right: 0 !important; padding-left: 0 !important; }

.col-lg-8 { padding-right: 0 !important; padding-left: 0 !important; }

.col-lg-9 { padding-right: 0 !important; padding-left: 0 !important; }

.col-md-1 { padding-right: 0 !important; padding-left: 0 !important; }

.col-md-10 { padding-right: 0 !important; padding-left: 0 !important; }

.col-md-11 { padding-right: 0 !important; padding-left: 0 !important; }

.col-md-12 { padding-right: 0 !important; padding-left: 0 !important; min-height: 0 !important; }

.col-md-2 { padding-right: 0 !important; padding-left: 0 !important; }

.col-md-3 { padding-right: 0 !important; padding-left: 0 !important; }

.col-md-4 { padding-right: 0 !important; padding-left: 0 !important; }

.col-md-5 { padding-right: 0 !important; padding-left: 0 !important; }

.col-md-6 { padding-right: 0 !important; padding-left: 0 !important; }

.col-md-7 { padding-right: 0 !important; padding-left: 0 !important; }

.col-md-8 { padding-right: 0 !important; padding-left: 0 !important; }

.col-md-9 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-1 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-10 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-11 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-12 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-2 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-3 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-4 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-5 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-6 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-7 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-8 { padding-right: 0 !important; padding-left: 0 !important; }

.col-sm-9 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-1 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-10 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-11 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-12 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-2 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-3 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-4 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-5 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-6 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-7 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-8 { padding-right: 0 !important; padding-left: 0 !important; }

.col-xs-9 { padding-right: 0 !important; padding-left: 0 !important; }

.main-header .navbar { background-color: #fff; margin-bottom: 0; }
.main-header .navbar .region-header { display: flex; }
.main-header .navbar .region-header #block-drupal8-parallax-theme-branding { display: flex; width: 70%; }
.main-header .navbar .region-header #block-drupal8-parallax-theme-branding .brand.site-name { align-self: center; font-size: 1.1em; }
.main-header .navbar .region-header #block-telephone { align-self: center; width: 30%; }
.main-header .navbar .region-header #block-telephone .text-formatted p { text-align: right; margin: 0 !important; display: flex; justify-content: flex-end; }
.main-header .navbar .region-header #block-telephone .text-formatted p a { border: 2px solid; border-radius: 20px; padding: 10px; display: flex; color: inherit; font-weight: bold; justify-content: center; align-self: center; width: 75%; text-decoration: none; }
.main-header .navbar .region-header #block-telephone .text-formatted p a img { margin-right: 10px; }

@media screen and (max-width: 500px) { .main-header .navbar .region-header #block-drupal8-parallax-theme-branding { flex-direction: column; width: 70%; }
  .main-header .navbar .region-header #block-drupal8-parallax-theme-branding .site-branding__slogan { margin-bottom: 20px; }
  .main-header .navbar .region-header #block-telephone .text-formatted p a { border: none; }
  .main-header .navbar .region-header #block-telephone .text-formatted p a .contentPhone { display: none; }
  .main-header .navbar .region-header #block-telephone .text-formatted p a img { width: 51%; height: 100%; } }
.region-google-map .bloc-maps .maps-description { display: flex; margin-top: 30px; }
.region-google-map .bloc-maps .maps-description .maps-description-details { margin-right: 60px; width: 50%; }
.region-google-map .bloc-maps .maps-description .maps-description-details .field--name-field-maps-title-residence { font-weight: bold; font-size: 1.8em; margin-bottom: 20px; }
.region-google-map .bloc-maps .maps-description .maps-description-details .field--name-field-maps-description p { text-align: justify; line-height: 1.8; }
.region-google-map .bloc-maps .maps-description .maps-description-acces { width: 50%; }
.region-google-map .bloc-maps .maps-description .maps-description-acces .field--name-field-maps-title-acces { font-weight: bold; font-size: 1.8em; margin-bottom: 20px; }
.region-google-map .bloc-maps .maps-description .maps-description-acces .maps-pictos { display: flex; margin-bottom: 10px; }
.region-google-map .bloc-maps .maps-description .maps-description-acces .maps-pictos > div:first-child { width: 12%; align-self: center; }
.region-google-map .bloc-maps .maps-description .maps-description-acces .maps-pictos > div:last-child { width: 80%; }
.region-google-map .bloc-maps .maps-description .maps-description-acces .maps-pictos img { vertical-align: bottom; margin-right: 20px; }
.region-google-map .bloc-maps .maps-description .maps-description-acces .maps-pictos .field--type-text { align-self: center; }
.region-google-map .bloc-maps .maps-description .maps-description-acces .maps-pictos .field--type-text strong { font-weight: bold; }

@media screen and (max-width: 500px) { .region-google-map .bloc-maps .maps-description { flex-direction: column; }
  .region-google-map .bloc-maps .maps-description .maps-description-details { margin-left: 20px; width: 90%; }
  .region-google-map .bloc-maps .maps-description .maps-description-details .field--name-field-maps-title-residence:after { content: '\02795'; font-size: 13px; color: #777; margin-left: 10%; }
  .region-google-map .bloc-maps .maps-description .maps-description-details .field--name-field-maps-title-residence.active:after { content: "\2796"; /* Unicode character for "minus" sign (-) */ }
  .region-google-map .bloc-maps .maps-description .maps-description-details .field--name-field-maps-description { display: none; }
  .region-google-map .bloc-maps .maps-description .maps-description-details:after { display: block; background-color: #DDDDDD; width: 90%; height: 1px; content: ""; margin-bottom: 15px; }
  .region-google-map .bloc-maps .maps-description .maps-description-acces { width: 100%; margin-left: 20px; }
  .region-google-map .bloc-maps .maps-description .maps-description-acces .field--name-field-maps-title-acces:after { content: '\02795'; font-size: 13px; color: #777; margin-left: 10%; }
  .region-google-map .bloc-maps .maps-description .maps-description-acces .field--name-field-maps-title-acces.active:after { content: "\2796"; }
  .region-google-map .bloc-maps .maps-description .maps-description-acces:after { display: block; background-color: #DDDDDD; width: 90%; height: 1px; content: ""; margin-bottom: 15px; } }
.container-fluid { padding: 0 !important; }

.region-homepagemessage { padding: 20px 0; text-align: center; max-width: 750px; margin: 0 auto; background: #000; background: rgba(0, 0, 0, 0.73); color: #fff; margin-bottom: 20px; padding: 20px; }
.region-homepagemessage p { margin: 0; }
.region-homepagemessage .block { margin: 0; }

.parallax-widget { padding: 0 !important; }
.parallax-widget .parallax-region { max-width: 100%; margin: 0 auto; }
.parallax-widget .parallax-region .row { margin-left: auto !important; margin-right: auto !important; }
.parallax-widget.zero { background-size: cover; }
.parallax-widget.zero .parallax-region { padding: 0; background: none; }
.parallax-widget.one { background-size: cover; background-color: #fff; }
.parallax-widget.two { background-size: cover; }
.parallax-widget.two .parallax-region { background: #000; background: rgba(255, 255, 255, 0); }
.parallax-widget.three { background-size: cover; }
.parallax-widget.four { background-size: cover; }
.parallax-widget.five { background-size: cover; }
.parallax-widget.six { background-size: cover; }
.parallax-widget.six#footer-top { background-color: #64a1bd !important; }

.path-frontpage .region-content { min-height: auto; }
.path-frontpage .feed-icon { display: none; }
.path-frontpage .content_layout { max-width: 750px; max-width: 100% !important; margin: 0 auto; overflow: hidden; }
.path-frontpage .bottom-widgets { padding: 20px 0; }
.path-frontpage .parallax-widget.one { background-size: cover; background-color: #fff; }
.path-frontpage h3.gallery-title-2 { margin-top: 0; margin-bottom: 5px; }
.path-frontpage .layout-region--content .text-formatted { padding: 0; }

.not-front .parallax-region { max-width: 850px; }

.region.region-content { margin-left: auto; margin-right: auto; width: 100%; }
.region.region-breadcrumb { width: 100%; margin-left: auto; margin-right: auto; max-width: 1180px; }

.container { padding: 0 !important; }

.google_map p { margin: 0; }
.google_map .block { margin: 0; }
.google_map iframe { display: block; }

.address-wrap { text-align: center; background-color: inherit; }

.layout-region--content .text-formatted { text-align: justify; padding: 0 20px; }

div .layout-region--content .text-formatted { display: flex; justify-content: center; padding: 0 !important; }

.node--type-page .container { margin: 50px auto !important; }

@media (max-width: 900px) { .layout-region.layout-region--left_above { flex: 0 1 100% !important; padding: 10px; max-width: 100% !important; }
  .layout-region.layout-region--right_above { flex: 0 1 100% !important; padding: 10px; max-width: 100% !important; }
  .layout-region.layout-region--left { flex: 0 1 100% !important; padding: 10px; max-width: 100% !important; }
  .layout-region.layout-region--right { flex: 0 1 100% !important; padding: 10px; max-width: 100% !important; }
  .layout-region.layout-region--left_below { padding: 10px; flex: 0 1 100% !important; max-width: 100% !important; }
  .layout-region.layout-region--right_below { flex: 0 1 100% !important; padding: 10px; max-width: 100% !important; } }
/*----------------------------
	User Login Form
-----------------------------*/
.user-login-form { border: 1px solid #e6e6e6; background: #fdfdfd; max-width: 500px; margin: 40px auto; padding: 5px 20px; background: #fff; }
.user-login-form .form-text { width: 100%; }
.user-login-form .form-email { width: 100%; }

.user-form { border: 1px solid #e6e6e6; background: #fdfdfd; max-width: 500px; margin: 40px auto; padding: 5px 20px; background: #fff; }
.user-form .form-text { width: 100%; }
.user-form .form-email { width: 100%; }

.user-pass { border: 1px solid #e6e6e6; background: #fdfdfd; max-width: 500px; margin: 40px auto; padding: 5px 20px; background: #fff; }
.user-pass .form-text { width: 100%; }
.user-pass .form-email { width: 100%; }

.form-composite > .fieldset-wrapper > .description, .form-item .description { color: #999; font-style: italic; }

/*----------------------------
	Maintainance
-----------------------------*/
.maintenance-page { background: #66cbff center no-repeat; text-align: center; padding-top: 220px; padding-bottom: 100px; color: #000; }
.maintenance-page .brand { display: inline-block; vertical-align: middle; }
.maintenance-page .name-and-slogan { display: inline-block; vertical-align: middle; display: none; }
.maintenance-page .site-slogan { display: none; }
.maintenance-page .site-name a { color: #64a1bd; }

.maintenance-msg { margin: 20px 0; background: rgba(242, 244, 207, 0.88); padding: 20px 30px; display: inline-block; color: #404040; border: 1px solid #fff; box-shadow: 5px 5px 0 #fff; }
.maintenance-msg h1 { text-transform: uppercase; font-weight: bold; }

/*----------------------------
	Profile Page
-----------------------------*/
.path-user .profile > div { display: inline-block; }
.path-user .profile .label { display: block; color: #333; }
.path-user .region-page-title { display: none; }

.region-services .services-content > div > div { display: flex; flex-wrap: wrap; }
.region-services .services-content .views-row { width: 25%; margin-bottom: 20px; }
.region-services .services-content .views-row .service_detail { display: flex; }
.region-services .services-content .views-row .service_detail .service_picto { width: 25%; }
.region-services .services-content .views-row .service_detail .service_picto > div:first-child { text-align: center; }
.region-services .services-content .views-row .service_detail .service_picto img { vertical-align: bottom; }
.region-services .services-content .views-row .service_detail .service_description { align-self: center; margin-left: 20px; }
.region-services .services_link { display: none; }

@media screen and (max-width: 500px) { .region-services .services_link { display: block; font-size: 1.2em; font-weight: bold; text-align: center; }
  .region-services .services_link:before { content: '\02795'; font-size: 13px; color: #777; margin-left: 10%; }
  .region-services .services_link.active:before { content: "\2796"; }
  .region-services .services-content { margin-left: 10px; }
  .region-services .services-content .views-row { width: 50%; } }
