{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }} class="title">{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    <div class="form-title">
        <p>Contactez votre futur résidence</p >
        <p>en remplissant le formulaire ci-dessous</p >
        <div class="triangle"></div>
    </div>
    {% block content %}
        <div class="content">
            {{ content }}
        </div>
    {% endblock %}

    <div class="form-after">
        <p >Ou</p >
        <p ><a href="#block-contactezvotreconseiller" >Contactez votre conseiller</a ></p >
        <p>*champs obligatoires</p>
    </div>
</div>
