{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }} class="title">{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        <div class="animated_number_top">
            <div class="container content_counter_bottom">

                <div class="number_one">
                    <div class="pictos_number">
                        {{ content.field_picto_one }}
                    </div>
                    <div class="content_number">
                        <div class="content_number_first">
                            {{ content.	field_text_before_number_one }}
                            <div class ="counter counter_residence">
                                {{ content.field_number_one }}
                            </div>
                        </div>
                        <div>
                            {{ content.field_text_after_number_one }}
                        </div>
                    </div>
                </div>

                <div class="number_two">
                    <div class="pictos_number">
                        {{ content.field_picto_two }}
                    </div>
                    <div class="content_number">
                        <div class="content_number_first">
                            {{ content.	field_text_before_number_two }}
                            <div class ="counter counter_collab">
                                {{ content.field_number_two }}
                            </div>
                        </div>
                        <div>
                            {{ content.field_text_after_number_two }}
                        </div>
                    </div>
                </div >

                <div class="number_three">
                    <div class="pictos_number">
                        {{ content.field_picto_three }}
                    </div>
                    <div class="content_number">
                        <div class="content_number_first">
                            {{ content.	field_text_before_number_three }}

                            <div class ="counter counter_customers">
                                {{ content.field_number_three }}
                            </div>
                        </div>
                        <div>
                            {{ content.field_text_aft }}
                        </div>
                    </div>
                </div >
            </div>
        </div>
    {% endblock %}
</div>
